{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>Добро пожаловать на сайт рецептов</h2>
<ul>
    {% for recipe in recipes %}
    <li>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a> - {{ recipe.cooking_time }} минут
        <br>
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="width: 180px; height: auto;">
        {% else %}
        <p>Изображение отсутствует</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
