{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
    <p><strong>{% trans "Состав" %}:</strong> {{ recipe.description }}</p> <!-- Состав выводится первым -->
    <p><strong>{% trans "Время приготовления" %}:</strong> {{ recipe.cooking_time }} минут</p>
    <p><strong>{% trans "Рецепт салата" %}:</strong></p>
    <p>{{ recipe.steps }}</p>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    {% endif %}
    <p><strong>{% trans "Категории" %}:</strong> {{ recipe.categories.all|join:", " }}</p>
    <a href="{% url 'edit_recipe' recipe.pk %}">{% trans "Редактировать рецепт" %}</a>
{% endblock %}




